<?xml version='1.0' encoding='UTF-8'?>    
<!DOCTYPE hibernate-configuration PUBLIC    
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"    
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">    
<hibernate-configuration>    
    <session-factory>    
        <property name="hbm2ddl.auto">create</property>       
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=revature</property>    
        <property name="connection.username">postgres</property>    
        <property name="connection.password">root1234</property>   
        <property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property> 
        <property name="connection.driver_class">org.postgresql.Driver</property>       
   		<!-- <mapping class="com.demo.client.Associate"/> -->
   		<mapping class="com.demo.client.Employee"/>
   		<mapping class="com.demo.client.Account"/>
    </session-factory>
</hibernate-configuration>    
